@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
  /* background-image: url('../public/Desktop\ -\ 1.png'); */
}

body {
  min-height: 100vh;
  /* background-image: url('../app/images/Desktop - 1.png'); */
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.bgImage
{
  background-image: url('../public/Desktop\ -\ 1.png');
}

.tagline
{
  position: relative;
  width: 15rem;
  margin-right: 45rem;
  margin-top: 10rem;
   text-align: center;
    color: #fff;
    font-size: 1rem;
     font-family: 'Azeret Mono';
      font-weight: bold;
       word-wrap: break-word;
}